<div class="row">
  <div class="col-md-9 col-sm-9 col-xs-9">
    <div class="msg-frame">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-4">
          <div class="middle-gravatar">
            <%= link_to profile_path(message.user) do %>
              <%= gravatar_for message.user %>
            <% end %>
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-8 leave-right">
          <div class="row">
            <%= link_to profile_path(message.user) do %>
              <span class="detail"><%= message.user.name.capitalize %></span>
            <% end %>
          </div>

          <div class="row">
            <span class="msg-body">
              <%= message.body %>
            </span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="time">
  <%= message.timestamp %>
</div>
