<%= content_for :sidebar_content do %>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <%= link_to 'Join', root_path %>
      </li>

      <li>
        <%= link_to "Profile", profile_path(current_user) %>
      </li>

      <li>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %>
      </li>

      <li>
        <%= link_to @chat_room.title.upcase, chat_room_path(@chat_room), class: 'room-title' %>
      </li>

      <li>
        <span class="normal-text">Created by</span>
        <br/>
        <%= link_to @chat_room.owner.name.capitalize, profile_path(@chat_room.owner), class: 'room-creator' %>
      </li>

      <li>
        <span class="normal-text">At</span>
        <br/>
        <span class="created_time">
          <%= @chat_room.created_time %>
        </span>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Online Users <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header">Dropdown heading</li>
          <li><a href="#">Action</a></li>
        </ul>
      </li>

    </ul>
  </nav>

<% end %>

<div id="messages" class="messages-board" data-chat-room-id="<%= @chat_room.id %>" data-current-user-id="<%= current_user ? current_user.id : -1%>" >
  <%= render @chat_room.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.text_area :body, placeholder: 'message', class: 'form-control' %>
    <% if user_signed_in? %>
      <%= f.submit 'send', class: 'btn btn-highlight' %>
    <% else %>
      <%= f.submit 'Please login or sign up', class: 'btn btn-disabled', disabled: true %>
    <% end %>
  </div>
<% end %>
