<h1><%= @chat_room.title %></h1>

<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <%= f.text_area :body, placeholder: 'message', class: 'form-control' %>

  <%= f.submit 'send', class: 'btn'%>
<% end %>
