<div id="messages" class="messages-board" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.text_area :body, placeholder: 'message', class: 'form-control' %>
    <% if user_signed_in? %>
      <%= f.submit 'send', class: 'btn btn-highlight' %>
    <% else %>
      <%= f.submit 'Please login or sign up', class: 'btn btn-disabled', disabled: true %>
    <% end %>
  </div>
<% end %>
