<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Join', root_path, class: 'navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to current_user.name.capitalize, profile_path(current_user) %>
            </li>

            <li>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Sign in', new_user_registration_path %>
            </li>
            <li>
              <%= link_to 'Log in', new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
