<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="msg-layout">
    <div id="wrapper" class="menuDisplayed">

      <!-- Sidebar -->
      <%= yield :sidebar_content %>
      <!-- end of sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-1 col-xs-1">
              <a href="" id="menu-toggle"><%= fa_icon "bars" %></a>
            </div>
            <div class="col-md-offset-1 col-md-6 col-sm-10 col-xs-offset-1 col-xs-10">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <!-- end of page content -->
    </div>

  </body>
  <script>
   $('#menu-toggle').click( function(e) {
     e.preventDefault();
     $('#wrapper').toggleClass('menuDisplayed');
     $('.fa').toggleClass('fa-bars').toggleClass('fa-times');
   });
  </script>
</html>
